$purple: #572EE5;
$purple-background: rgba(87,46,229,0.90);
$green: #50E3C2;
$trending-background: #F3F5F8;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

%bg-icons {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: $montserrat;
    color: $purple;
    font-size: 62.5%;
    text-align: center;
}
   
nav {
    height: 10rem;
    padding: 0 6.9%;
    display: flex;
    border-top: 5px solid $purple;
    align-items: center;
    position: relative;
    justify-content: space-between;

    img {
        height: 4.9rem;
        width: 5.6rem;
    }
}

.menu {
    display: flex;
    justify-content: center;

    .burger-logo {
        width: 1.5rem;
        height: 1.5rem;
        background-image: url('../assets/burger.svg');
        @extend %bg-icons;
    }

    input {
        width: 2.4rem;
        height: 2.4rem;
        transform: translate(1.9rem , -0.45rem);
        opacity: 0;
        z-index: 1;

        &:checked ~ ul {
            max-height: 100vh;
        }
    }

    ul {
        background-color: $purple-background;
        width: 100%;
        max-height: 0rem;
        // margin-top: 17px;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        list-style: none;
        overflow: hidden;
        transition: max-height 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        z-index: 1;

        li {
            font-size: 1.5rem;
            font-weight: 700;
            color: white;
            text-align: center;
            line-height: 60px;  
            height: 60px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                bottom: 8px;
                transform: translateX(-50%);
                width: 40px;
                border-bottom: 1px solid white;
            }
        }
    }
}

h1 {
    font-size: 2.5rem;
    width: 76%;
    margin: 0 auto;

    span {
        color: $green;
    }
}

h2 {
    font-size: 2rem;
    line-height: 3rem;
}

h3 {
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.search {
    padding-top: 32px;
    padding-bottom: 45px;

    img {
        width: 70%;
        max-width: 400px;
        display: block;
        margin: 0 auto;
    }
    
    .input-container {
        width: 88%;
        height: 50px;
        max-width: 550px;
        border-radius: 25px;
        padding-left: 55px;
        padding-right: 20px;
        margin: 0 auto;
        border: solid 1px $purple;
        display: flex;
        flex-direction: row;
        align-items: center;

        input {
            font-family: $roboto;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.9rem;
            border: none;
            flex-grow: 1;
            outline: none;
        }

        .search-icon {
            width: 20px;
            height: 20px;
            justify-self: right;
            background-image: url('../assets/icon-search.svg');
            @extend %bg-icons;
        }
    }

    h3 {
        margin-top: 31px;
        margin-bottom: 2px;
    }

    p {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }
}

.trending {
    height: 43rem;
    background-color: $trending-background;
    padding-top: 46px;
    padding-bottom: 82px;

    p { 
        margin-top: 7px;
        margin-bottom: 32px;
        font-family: $roboto;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.3rem;
        color: black;
        display: block;
        
        &::after {
            content: "\AGIFOS de nuestra comunidad.";
            white-space: pre;
        }
    }

    
}



